body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:#0c1118;
    color:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#10161f;
    position:sticky;
    top:0;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

.green{
    color:#9acd32;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:500;
}

nav a:hover{
    color:#9acd32;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    flex-wrap:wrap;
}

.hero-left{
    max-width:550px;
}

.hero-left h1{
    font-size:60px;
    margin:10px 0;
}

.hero-left span{
    color:#9acd32;
}

.hero-left h2{
    color:#ddd;
}

.hero-left p{
    line-height:1.8;
    color:#bbb;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:14px 30px;
    background:#9acd32;
    color:black;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.hero-right img{
    width:380px;
    border-radius:20px;
}

.section{
    padding:70px 8%;
}

.section h2{
    color:#9acd32;
    margin-bottom:25px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:220px;
    background:#161d28;
    padding:25px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

footer{
    text-align:center;
    padding:30px;
    background:#10161f;
}

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-right img{
width:280px;
margin-top:30px;
}

.hero-left h1{
font-size:42px;
}

nav{
display:none;
}

}

